// .container{
//     display: flex; 
// }


.header{
    // padding-top: 24px;
    // padding-bottom: 24px;
   border-bottom: 1px solid #ECECEC;
}

.header{
  @media screen and(max-width: 767px){
      position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  }
  @media screen and(min-width: 768px){
        width: 768px;
        margin: 0 auto ;
      padding-bottom: 0;
}
 @media screen and(min-width: 1200px){
        width: 1200px;
        margin: 0 auto ;
        padding-bottom: 0;
}
}


.header-navigation__list, .header-navigation{
display: flex;
align-items: center;
padding-left: 0px;
}

.header-navigation{
  display: flex;
  justify-content: space-between;
    // width: 100%;
    // justify-content: space-between;
    margin-left: 15px;
}


@media screen and(min-width:768px) {
.header-navigation__item:not(:last-child){
    margin-right: 50px;
}
}

   .header-navigation__item{
    position:relative;
    margin-top: 26px;
margin-bottom: 26px;

}

.header-navigation__item .current::after{
  content: " ";
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
    top: 46px;
    left: 0;
  height: 4px;
background: #2196F3;
border-radius: 2px;   
}

.header-right{
@media screen and(max-width:1199px){
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
@media screen and(min-width:1200px){
  margin-right: 15px;
}
}