

 .modal{
@media screen and(max-width:480px) {  
width: 450px;
padding-left: 15px;
padding-right: 15px;
    }
}
.modal{
    position: absolute;
    width: 528px;
    min-height: 581px;
    background-color: #FFFFFF;
    border-radius: 5px;
    left: 50%;
    top: 50%;
     transform: translate(-50%, -50%);
}