:root{
    --main-title-color: #212121;
    --secondary-title-color: #ffffff;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    /* --time-animation: 250ms;
    --cubik-transform: cubic-bezier(0.4, 0, 0.2, 1); */
}